<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onde Estamos</title>
</head>
<body>
    <h1>Onde Estamos</h1>
    <table>
        <tr>
            <th>Cidade</th>
            <th>Estado</th>
        </tr>
        <tr>
            <td>Curitiba</td>
            <td>Paraná</td>
        </tr>
        <tr>
            <td>Rio De Janeiro</td>
            <td>RJ</td>
        </tr>
    </table>
</body>
</html>